
@font-face{
    font-family: "三极瘦金简体";
    src: url("./fonts/三极瘦金简体.ttf");
}
@font-face{
    font-family: "方正楷体简体";
    src: url("./fonts/方正楷体简体.ttf");
}

/* #ziTie{
    font-family: "方正楷体简体", "pingfang SC","helvetica neue",arial,"hiragino sans gb","microsoft yahei ui","microsoft yahei", simsun, sans-serif;
} */
.textWrap{
    display: inline-block;
    width: 36px;
    height: 36px;
    font-size: 36px;
    line-height: 36px;
    border: 1px solid red;
    position: relative;
    text-align: center;
}

.textWrap .line{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 0;
    border-top: 1px dashed red;
}
.textWrap .horizontalLine{
    transform: rotateZ(90deg);
}
.textWrap .biasLeft{
    transform: rotateZ(45deg) scale(1.3);
}
.textWrap .biasRight{
    transform: rotateZ(135deg) scale(1.3);
}

